
.register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;        
    background-color:rgb(244, 184, 111) ; 
    margin: 0 0;
}

.form{
  width: 35vw;
  margin-top: 60px;
  margin-left: 30px;
  padding: 40px ;
  border-radius: 20px;
  background-color: wheat;
  text-align: center;
  box-shadow: 0 5px 15px rgba(77, 76, 76, 0.1);
}

.form-control{
    margin-top: 20px;
    width: 60%;

}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper .form-control {
  padding-right: 40px; 
}

.eye-icon {
  position: absolute;
  top: 63%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
  font-size: 15px;
}

.eye-icon:hover {
  color: #5e5b5b;
}

.signup{
    margin: 20px;
    background-color: brown;
    padding: 8px;
    border-radius: 10px;
    border: none;
}